<div class="container-fluid" *ngIf="firstStep">
    <div class="row content">
        <div class="col-sm-3 sidenav">
            <h4 class="header-color">Creative Tim</h4>
        </div>

        <div class="col-sm-9 right-color">
            <h4><small>Global sales by top location</small></h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>S. No.</th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of arr; let  i= index">
                        <td>{{i+ 1}}</td>
                        <td> <a routerLink="/firstcomponent" routerLinkActive="active" (click)="showDetails(item.id)">{{item.first_name}}</a></td>
                        <td>{{item.last_name}}</td>
                        <td>{{item.email}}</td>
                    </tr>
                </tbody>
            </table>
            <!-- <div class="row"> -->
            <div>
                <div style="display: inline-block" class="card">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType"></canvas>
                </div>
                <div style="display: inline-block" class="card left-right">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType"></canvas>
                </div>
                <div style="display: inline-block" class="card">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType"></canvas>
                </div>
            </div>
        </div>

    </div>
</div>
<div [@routeAnimation]="getAnimationData(routerOutlet)">
    <router-outlet #routerOutlet="outlet"></router-outlet>
</div>